# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Next.js Configuration
NEXT_PUBLIC_APP_NAME=2nd
NEXT_PUBLIC_APP_DESCRIPTION=เว็บไซต์ขายของมือสองคุณภาพดี

# Image Upload
NEXT_PUBLIC_UPLOAD_URL=http://localhost:5000/uploads 